##Cambiar estos valoras por los valores del .env.local

DATABASE_URL="mysql://usuario:password@127.0.0.1:3306/db_name"

JWT_PASSPHRASE=tu_passphrase_aqui

APP_SECRET=adaefacfec6113c88bc2ebd94edaf8cb

REDIS_URL=redis://redis:1234
