parameters:
	ignoreErrors:
		-
			message: '#^Property App\\App\\Auth\\Infrastructure\\EventListener\\JWTCreatedListener\:\:\$requestStack is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/App/Auth/Infrastructure/EventListener/JWTCreatedListener.php

		-
			message: '#^Method App\\App\\Auth\\Infrastructure\\Service\\LexikPayloadExtractor\:\:formatPayload\(\) has parameter \$payload with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/App/Auth/Infrastructure/Service/LexikPayloadExtractor.php

		-
			message: '#^Call to an undefined method Symfony\\Contracts\\Cache\\CacheInterface\:\:getItem\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/App/Auth/Infrastructure/Service/SymfonyCacheBlacklist.php

		-
			message: '#^Call to an undefined method Symfony\\Contracts\\Cache\\CacheInterface\:\:save\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/App/Auth/Infrastructure/Service/SymfonyCacheBlacklist.php

		-
			message: '#^Deprecated in PHP 8\.1\: Required parameter \$roleId follows optional parameter \$userId\.$#'
			identifier: parameter.requiredAfterOptional
			count: 1
			path: src/App/UI/API/Controller/ProjectUser/AssignUserToProject/AssignUserToProjectRequest.php

		-
			message: '#^Property App\\Core\\Domain\\Model\\Aggregate\\RefreshToken\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Core/Domain/Model/Aggregate/RefreshToken.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Core/Domain/Model/Aggregate/RefreshToken.php

		-
			message: '#^Constant App\\Core\\Domain\\Model\\VO\\TimeEntry\\TimeEntryDescription\:\:MAX_LENGTH is unused\.$#'
			identifier: classConstant.unused
			count: 1
			path: src/Core/Domain/Model/VO/TimeEntry/TimeEntryDescription.php

		-
			message: '#^Offset ''allocation'' on array\{userId\: string, roleId\: string, allocation\: int\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Core/Domain/Service/ProjectUser/SyncProjectUsers/SyncProjectUsersService.php

		-
			message: '#^Class App\\Core\\Infrastructure\\Persistence\\Doctrine\\ORM\\OrmRefreshTokenRepository implements generic interface Gesdinet\\JWTRefreshTokenBundle\\Doctrine\\RefreshTokenRepositoryInterface but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Core/Infrastructure/Persistence/Doctrine/ORM/OrmRefreshTokenRepository.php

		-
			message: '#^Class Doctrine\\Bundle\\DoctrineBundle\\Repository\\LazyServiceEntityRepository specifies template type T of interface Doctrine\\Persistence\\ObjectRepository as App\\Core\\Domain\\Model\\Aggregate\\RefreshToken but it''s already specified as Gesdinet\\JWTRefreshTokenBundle\\Model\\RefreshTokenInterface\.$#'
			identifier: generics.interfaceConflict
			count: 2
			path: src/Core/Infrastructure/Persistence/Doctrine/ORM/OrmRefreshTokenRepository.php

		-
			message: '#^Class Doctrine\\Bundle\\DoctrineBundle\\Repository\\ServiceEntityRepository specifies template type T of interface Doctrine\\Persistence\\ObjectRepository as App\\Core\\Domain\\Model\\Aggregate\\RefreshToken but it''s already specified as Gesdinet\\JWTRefreshTokenBundle\\Model\\RefreshTokenInterface\.$#'
			identifier: generics.interfaceConflict
			count: 1
			path: src/Core/Infrastructure/Persistence/Doctrine/ORM/OrmRefreshTokenRepository.php

		-
			message: '#^Class Doctrine\\ORM\\EntityRepository specifies template type T of interface Doctrine\\Persistence\\ObjectRepository as App\\Core\\Domain\\Model\\Aggregate\\RefreshToken but it''s already specified as Gesdinet\\JWTRefreshTokenBundle\\Model\\RefreshTokenInterface\.$#'
			identifier: generics.interfaceConflict
			count: 4
			path: src/Core/Infrastructure/Persistence/Doctrine/ORM/OrmRefreshTokenRepository.php

		-
			message: '#^Call to method grabDataFromResponseByJsonPath\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Auth/AuthSmokeCest.php

		-
			message: '#^Call to method haveHttpHeader\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 3
			path: tests/Api/Auth/AuthSmokeCest.php

		-
			message: '#^Call to method seeResponseCodeIs\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 3
			path: tests/Api/Auth/AuthSmokeCest.php

		-
			message: '#^Call to method seeResponseIsJson\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Auth/AuthSmokeCest.php

		-
			message: '#^Call to method sendPost\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 3
			path: tests/Api/Auth/AuthSmokeCest.php

		-
			message: '#^Call to method wantTo\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Auth/AuthSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\Auth\\AuthSmokeCest\:\:loginReturnsTokenAndRefreshToken\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Auth/AuthSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\Auth\\AuthSmokeCest\:\:tokenRefreshWithBogusTokenReturnsUnauthorized\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Auth/AuthSmokeCest.php

		-
			message: '#^Call to method haveAdminHttpHeaders\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Client/ClientSmokeCest.php

		-
			message: '#^Call to method seeResponseCodeIs\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Client/ClientSmokeCest.php

		-
			message: '#^Call to method seeResponseErrorCodeContent\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Client/ClientSmokeCest.php

		-
			message: '#^Call to method seeResponseIsJson\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Client/ClientSmokeCest.php

		-
			message: '#^Call to method sendGet\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Client/ClientSmokeCest.php

		-
			message: '#^Call to method wantTo\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Client/ClientSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\Client\\ClientSmokeCest\:\:_before\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Client/ClientSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\Client\\ClientSmokeCest\:\:getClientWithInvalidIdReturns400\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Client/ClientSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\Client\\ClientSmokeCest\:\:listClientsReturns200\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Client/ClientSmokeCest.php

		-
			message: '#^Call to method grabDataFromResponseByJsonPath\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Contact/ContactSmokeCest.php

		-
			message: '#^Call to method haveAdminHttpHeaders\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Contact/ContactSmokeCest.php

		-
			message: '#^Call to method seeResponseCodeIs\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 3
			path: tests/Api/Contact/ContactSmokeCest.php

		-
			message: '#^Call to method seeResponseErrorCodeContent\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Contact/ContactSmokeCest.php

		-
			message: '#^Call to method seeResponseIsJson\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Contact/ContactSmokeCest.php

		-
			message: '#^Call to method sendGet\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 3
			path: tests/Api/Contact/ContactSmokeCest.php

		-
			message: '#^Call to method wantTo\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Contact/ContactSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\Contact\\ContactSmokeCest\:\:_before\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Contact/ContactSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\Contact\\ContactSmokeCest\:\:listContactsByClientReturns200\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Contact/ContactSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\Contact\\ContactSmokeCest\:\:listContactsWithInvalidClientIdReturns400\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Contact/ContactSmokeCest.php

		-
			message: '#^Call to method grabDataFromResponseByJsonPath\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Link/LinkSmokeCest.php

		-
			message: '#^Call to method haveAdminHttpHeaders\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Link/LinkSmokeCest.php

		-
			message: '#^Call to method seeResponseCodeIs\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 3
			path: tests/Api/Link/LinkSmokeCest.php

		-
			message: '#^Call to method seeResponseErrorCodeContent\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Link/LinkSmokeCest.php

		-
			message: '#^Call to method seeResponseIsJson\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Link/LinkSmokeCest.php

		-
			message: '#^Call to method sendDelete\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Link/LinkSmokeCest.php

		-
			message: '#^Call to method sendGet\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Link/LinkSmokeCest.php

		-
			message: '#^Call to method wantTo\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Link/LinkSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\Link\\LinkSmokeCest\:\:_before\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Link/LinkSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\Link\\LinkSmokeCest\:\:deleteLinkWithInvalidIdReturns400\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Link/LinkSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\Link\\LinkSmokeCest\:\:listLinksByProjectReturns200\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Link/LinkSmokeCest.php

		-
			message: '#^Call to method haveAdminHttpHeaders\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Project/ProjectSmokeCest.php

		-
			message: '#^Call to method seeResponseCodeIs\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Project/ProjectSmokeCest.php

		-
			message: '#^Call to method seeResponseErrorCodeContent\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Project/ProjectSmokeCest.php

		-
			message: '#^Call to method seeResponseIsJson\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Project/ProjectSmokeCest.php

		-
			message: '#^Call to method sendGet\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Project/ProjectSmokeCest.php

		-
			message: '#^Call to method wantTo\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Project/ProjectSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\Project\\ProjectSmokeCest\:\:_before\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Project/ProjectSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\Project\\ProjectSmokeCest\:\:getProjectWithInvalidIdReturns400\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Project/ProjectSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\Project\\ProjectSmokeCest\:\:listProjectsReturns200\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Project/ProjectSmokeCest.php

		-
			message: '#^Call to method haveAdminHttpHeaders\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/ProjectRole/ProjectRoleSmokeCest.php

		-
			message: '#^Call to method seeResponseCodeIs\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/ProjectRole/ProjectRoleSmokeCest.php

		-
			message: '#^Call to method seeResponseErrorCodeContent\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/ProjectRole/ProjectRoleSmokeCest.php

		-
			message: '#^Call to method seeResponseIsJson\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/ProjectRole/ProjectRoleSmokeCest.php

		-
			message: '#^Call to method sendDelete\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/ProjectRole/ProjectRoleSmokeCest.php

		-
			message: '#^Call to method sendGet\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/ProjectRole/ProjectRoleSmokeCest.php

		-
			message: '#^Call to method wantTo\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/ProjectRole/ProjectRoleSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\ProjectRole\\ProjectRoleSmokeCest\:\:_before\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/ProjectRole/ProjectRoleSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\ProjectRole\\ProjectRoleSmokeCest\:\:deleteProjectRoleWithInvalidIdReturns400\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/ProjectRole/ProjectRoleSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\ProjectRole\\ProjectRoleSmokeCest\:\:listProjectRolesReturns200\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/ProjectRole/ProjectRoleSmokeCest.php

		-
			message: '#^Call to method grabDataFromResponseByJsonPath\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/ProjectUser/ProjectUserSmokeCest.php

		-
			message: '#^Call to method haveAdminHttpHeaders\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/ProjectUser/ProjectUserSmokeCest.php

		-
			message: '#^Call to method seeResponseCodeIs\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 3
			path: tests/Api/ProjectUser/ProjectUserSmokeCest.php

		-
			message: '#^Call to method seeResponseErrorCodeContent\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/ProjectUser/ProjectUserSmokeCest.php

		-
			message: '#^Call to method seeResponseIsJson\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/ProjectUser/ProjectUserSmokeCest.php

		-
			message: '#^Call to method sendGet\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 3
			path: tests/Api/ProjectUser/ProjectUserSmokeCest.php

		-
			message: '#^Call to method wantTo\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/ProjectUser/ProjectUserSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\ProjectUser\\ProjectUserSmokeCest\:\:_before\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/ProjectUser/ProjectUserSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\ProjectUser\\ProjectUserSmokeCest\:\:listProjectUsersReturns200\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/ProjectUser/ProjectUserSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\ProjectUser\\ProjectUserSmokeCest\:\:listProjectUsersWithInvalidProjectIdReturns400\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/ProjectUser/ProjectUserSmokeCest.php

		-
			message: '#^Call to method haveAdminHttpHeaders\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Sector/SectorSmokeCest.php

		-
			message: '#^Call to method seeResponseCodeIs\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Sector/SectorSmokeCest.php

		-
			message: '#^Call to method seeResponseErrorCodeContent\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Sector/SectorSmokeCest.php

		-
			message: '#^Call to method seeResponseIsJson\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Sector/SectorSmokeCest.php

		-
			message: '#^Call to method sendGet\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Sector/SectorSmokeCest.php

		-
			message: '#^Call to method wantTo\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Sector/SectorSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\Sector\\SectorSmokeCest\:\:_before\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Sector/SectorSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\Sector\\SectorSmokeCest\:\:getSectorWithInvalidIdReturns400\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Sector/SectorSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\Sector\\SectorSmokeCest\:\:listSectorsReturns200\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Sector/SectorSmokeCest.php

		-
			message: '#^Call to method haveAdminHttpHeaders\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Technology/TechnologySmokeCest.php

		-
			message: '#^Call to method seeResponseCodeIs\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Technology/TechnologySmokeCest.php

		-
			message: '#^Call to method seeResponseErrorCodeContent\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Technology/TechnologySmokeCest.php

		-
			message: '#^Call to method seeResponseIsJson\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Technology/TechnologySmokeCest.php

		-
			message: '#^Call to method sendDelete\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Technology/TechnologySmokeCest.php

		-
			message: '#^Call to method sendGet\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Technology/TechnologySmokeCest.php

		-
			message: '#^Call to method wantTo\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/Technology/TechnologySmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\Technology\\TechnologySmokeCest\:\:_before\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Technology/TechnologySmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\Technology\\TechnologySmokeCest\:\:getTechnologyWithInvalidIdReturns400\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Technology/TechnologySmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\Technology\\TechnologySmokeCest\:\:listTechnologiesReturns200\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/Technology/TechnologySmokeCest.php

		-
			message: '#^Call to method grabDataFromResponseByJsonPath\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/TimeEntry/TimeEntrySmokeCest.php

		-
			message: '#^Call to method haveAdminHttpHeaders\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/TimeEntry/TimeEntrySmokeCest.php

		-
			message: '#^Call to method seeResponseCodeIs\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 3
			path: tests/Api/TimeEntry/TimeEntrySmokeCest.php

		-
			message: '#^Call to method seeResponseErrorCodeContent\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/TimeEntry/TimeEntrySmokeCest.php

		-
			message: '#^Call to method seeResponseIsJson\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/TimeEntry/TimeEntrySmokeCest.php

		-
			message: '#^Call to method sendGet\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 3
			path: tests/Api/TimeEntry/TimeEntrySmokeCest.php

		-
			message: '#^Call to method wantTo\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/TimeEntry/TimeEntrySmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\TimeEntry\\TimeEntrySmokeCest\:\:_before\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/TimeEntry/TimeEntrySmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\TimeEntry\\TimeEntrySmokeCest\:\:getTimeEntryWithInvalidIdReturns400\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/TimeEntry/TimeEntrySmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\TimeEntry\\TimeEntrySmokeCest\:\:listTimeEntriesByProjectReturns200\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/TimeEntry/TimeEntrySmokeCest.php

		-
			message: '#^Call to method haveAdminHttpHeaders\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/User/UserSmokeCest.php

		-
			message: '#^Call to method seeResponseCodeIs\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/User/UserSmokeCest.php

		-
			message: '#^Call to method seeResponseErrorCodeContent\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/User/UserSmokeCest.php

		-
			message: '#^Call to method seeResponseIsJson\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/User/UserSmokeCest.php

		-
			message: '#^Call to method sendGet\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/User/UserSmokeCest.php

		-
			message: '#^Call to method wantTo\(\) on an unknown class App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 2
			path: tests/Api/User/UserSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\User\\UserSmokeCest\:\:_before\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/User/UserSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\User\\UserSmokeCest\:\:getUserWithInvalidIdReturns400\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/User/UserSmokeCest.php

		-
			message: '#^Parameter \$I of method App\\Tests\\Api\\User\\UserSmokeCest\:\:listUsersReturns200\(\) has invalid type App\\Tests\\ApiTester\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Api/User/UserSmokeCest.php

		-
			message: '#^Property App\\Tests\\Support\\Extension\\DbMigrationExtension\:\:\$events type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Support/Extension/DbMigrationExtension.php

		-
			message: '#^Call to function method_exists\(\) with ''App\\\\Core\\\\Application\\\\Bus\\\\CommandBus'' and ''dispatch'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/Unit/Core/Application/Bus/BusContractTest.php

		-
			message: '#^Call to function method_exists\(\) with ''App\\\\Core\\\\Application\\\\Bus\\\\QueryBus'' and ''ask'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/Unit/Core/Application/Bus/BusContractTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNotNull\(\) with App\\Core\\Domain\\Model\\VO\\Project\\ProjectId will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Unit/Core/Domain/Model/Aggregate/ProjectTest.php

		-
			message: '#^Method App\\Tests\\Unit\\Core\\Domain\\Mother\\Project\\ProjectMother\:\:create\(\) has parameter \$technologies with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Unit/Core/Domain/Mother/Project/ProjectMother.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNotNull\(\) with App\\Core\\Domain\\Model\\VO\\Link\\LinkId will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Unit/Core/Domain/Service/Link/CreateLinkServiceTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNotNull\(\) with App\\Core\\Domain\\Model\\VO\\Project\\ProjectId will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Unit/Core/Domain/Service/Project/CreateProjectServiceTest.php

		-
			message: '#^Call to function method_exists\(\) with ''Symfony\\\\Component\\\\Dotenv\\\\Dotenv'' and ''bootEnv'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/bootstrap.php

		-
			message: '#^Access to constant ADMIN on an unknown class App\\Enum\\SystemRole\.$#'
			identifier: class.notFound
			count: 1
			path: tests/p8_1_regression_check.php

		-
			message: '#^Access to constant EMPLOYEE on an unknown class App\\Enum\\SystemRole\.$#'
			identifier: class.notFound
			count: 1
			path: tests/p8_1_regression_check.php

		-
			message: '#^Class App\\Service\\ProjectManager not found\.$#'
			identifier: class.notFound
			count: 1
			path: tests/p8_1_regression_check.php

		-
			message: '#^Class App\\Service\\UserManager not found\.$#'
			identifier: class.notFound
			count: 1
			path: tests/p8_1_regression_check.php
