includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    excludePaths:
        - tests/Support/_generated/
        - tests/Support/ApiTester.php
        - tests/Support/FunctionalTester.php
        - tests/Support/UnitTester.php
